<div class="container-fluid">
    <!-- Widget card -->
    <h2 class="h5">Cards</h2>
    <p class="text-muted">This primitive is meant to make it easy to display both user-centric or activity-centric
        actions in your app. Sometimes it makes sense to even blend both in a single timeline, which works
        perfectly.</p>
        <div class="col-md-6 mb-4">
              <div class="card shadow">
            <div class="card-header">
                <p class="avatar avatar-sm mt-2">
                    <img src="./assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                    &ensp;
                    <strong class="card-title">Veronicha Flasma</strong>
                    <a class="float-right small text-muted mt-2" href="#!">View all</a>
                </p>
            </div>
            <div class="card-body" data-simplebar style="height:355px; overflow-y: auto; overflow-x: hidden;">
                <h6 class="text-uppercase text-muted mb-4">Today</h6>
                <div class="pb-3 timeline-item item-primary">
                    <div class="pl-5">
                        <div class="mb-1"><strong>@Brown Asher</strong><span class="text-muted small mx-2">Just
                                create new layout Index, form,
                                table</span><strong>Tiny Admin</strong></div>
                        <p class="small text-muted">Creative Design <span class="badge badge-light">1h
                                ago</span>
                        </p>
                    </div>
                </div>
                <div class="pb-3 timeline-item item-warning">
                    <div class="pl-5">
                        <div class="mb-3"><strong>@Hester Nissim</strong><span class="text-muted small mx-2">has
                                upload new files to</span><strong>Tiny
                                Admin</strong></div>
                        <div class="row mb-3">
                            <div class="col"><img src="./assets/products/p1.jpg" alt="..."
                                    class="img-fluid rounded"></div>
                            <div class="col"><img src="./assets/products/p2.jpg" alt="..."
                                    class="img-fluid rounded"></div>
                            <div class="col"><img src="./assets/products/p3.jpg" alt="..."
                                    class="img-fluid rounded"></div>
                            <div class="col"><img src="./assets/products/p4.jpg" alt="..."
                                    class="img-fluid rounded"></div>
                        </div>
                        <p class="small text-muted">Front-End Development <span class="badge badge-light">1h
                                ago</span>
                        </p>
                    </div>
                </div>
                <div class="pb-3 timeline-item item-success">
                    <div class="pl-5">
                        <div class="mb-3"><strong>@Kelley Sonya</strong><span class="text-muted small mx-2">has
                                commented on</span><strong>Advanced
                                table</strong></div>
                        <div class="card d-inline-flex mb-2">
                            <div class="card-body bg-light py-2 px-3 small rounded"> Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. Integer dignissim nulla eu quam
                                cursus placerat. Vivamus non odio ullamcorper, lacinia ante nec, blandit
                                leo. </div>
                        </div>
                        <p class="small text-muted">Back-End Development <span class="badge badge-light">1h
                                ago</span>
                        </p>
                    </div>
                </div>
                <h6 class="text-uppercase text-muted mb-4">Yesterday</h6>
                <div class="pb-3 timeline-item item-warning">
                    <div class="pl-5">
                        <div class="mb-3"><strong>@Fletcher Everett</strong><span
                                class="text-muted small mx-2">created new group for</span><strong>Tiny
                                Admin</strong></div>
                        <ul class="avatars-list mb-3">
                            <li>
                                <a href="#!" class="avatar avatar-sm">
                                    <img alt="..." class="avatar-img rounded-circle"
                                        src="./assets/avatars/face-1.jpg">
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="avatar avatar-sm">
                                    <img alt="..." class="avatar-img rounded-circle"
                                        src="./assets/avatars/face-4.jpg">
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="avatar avatar-sm">
                                    <img alt="..." class="avatar-img rounded-circle"
                                        src="./assets/avatars/face-3.jpg">
                                </a>
                            </li>
                        </ul>
                        <p class="small text-muted">Front-End Development <span class="badge badge-light">1h
                                ago</span>
                        </p>
                    </div>
                </div>
                <div class="pb-3 timeline-item item-success">
                    <div class="pl-5">
                        <div class="mb-3"><strong>@Bertha Ball</strong><span class="text-muted small mx-2">has
                                commented on</span><strong>Advanced
                                table</strong></div>
                        <div class="card d-inline-flex mb-2">
                            <div class="card-body bg-light py-2 px-3"> Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Integer dignissim nulla eu quam cursus
                                placerat. Vivamus non odio ullamcorper, lacinia ante nec, blandit leo.
                            </div>
                        </div>
                        <p class="small text-muted">Back-End Development <span class="badge badge-light">1h
                                ago</span>
                        </p>
                    </div>
                </div>
                <div class="pb-3 timeline-item item-danger">
                    <div class="pl-5">
                        <div class="mb-3"><strong>@Lillith Joseph</strong><span class="text-muted small mx-2">has
                                upload new files to</span><strong>Tiny
                                Admin</strong></div>
                        <div class="row mb-3">
                            <div class="col"><img src="./assets/products/p4.jpg" alt="..."
                                    class="img-fluid rounded"></div>
                            <div class="col"><img src="./assets/products/p1.jpg" alt="..."
                                    class="img-fluid rounded"></div>
                            <div class="col"><img src="./assets/products/p2.jpg" alt="..."
                                    class="img-fluid rounded"></div>
                        </div>
                        <p class="small text-muted">Front-End Development <span class="badge badge-light">1h
                                ago</span>
                        </p>
                    </div>
                </div>
            </div> <!-- / .card-body -->
        </div> <!-- .card -->





        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="chart-widget mb-2">
                    <div id="radialbar"></div>
                </div>
                <div class="row items-align-center">
                    <div class="col-4 text-center">
                        <p class="text-muted mb-1">Cost</p>
                        <h6 class="mb-1">$1,823</h6>
                        <p class="text-muted mb-0">+12%</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="text-muted mb-1">Revenue</p>
                        <h6 class="mb-1">$6,830</h6>
                        <p class="text-muted mb-0">+8%</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="text-muted mb-1">Earning</p>
                        <h6 class="mb-1">$4,830</h6>
                        <p class="text-muted mb-0">+8%</p>
                    </div>
                </div>
            </div> <!-- .card-body -->
        </div> <!-- .card -->


      


   
     
    </div> <!-- .row -->
</div> <!-- .container-fluid -->